[submodule "diagnostic-server/src/main/resources/swagger-ui"]
	path = libcrowbar/diagnostic-server/src/main/resources/swagger-ui
	url = https://github.com/wordnik/swagger-ui.git
[submodule "MHS2"]
	path = MHS2
	url = https://github.com/npcardoso/MHS2.git
