*.brf
*.make
*.tmp
*.temp
*.fls
*.d
*.nav
*.snm
*.vrb
*.dvi
*.el
*.cookie
objs
*~
BB### TeX ###
## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.gz
*.bak
*.tks

## Intermediate documents:
*.dvi
*-converted-to.*
*.7z
*.DS_Store
*.aux
*.bak
*.bbl
*.blg
*.brf
*.cb
*.cb2
*.class
*.com
*.cookie
*.d
*.dblite
*.dll
*.dmg
*.dvi
*.el
*.exe
*.fls
*.gz
*.idx
*.ilg
*.ind
*.iso
*.jar
*.loa
*.lof
*.log
*.lot
*.make
*.nav
*.o
*.out
*.rar
*.snm
*.so
*.sql
*.sqlite
*.synctex.gz
*.tar
*.tdo
*.temp
*.tmp
*.toc
*.vrb
*.zip
*fdb_latexmk
*~
.*sw[op]
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
._*
Icon?
Thumbs.db
ehthumbs.db
