      <div id="zoomContainer" class="leaflet-control-container">
        <div class="leaflet-top leaflet-left has-leaflet-pan-control">
          <div class="leaflet-control-pan leaflet-control">
            <div class="leaflet-control-pan-up-wrap">
              <a id="panUp" class="leaflet-control-pan-up" href="#" title="Up"></a>
            </div>
            <div class="leaflet-control-pan-left-wrap">
              <a id="panLeft" class="leaflet-control-pan-left" href="#" title="Left"></a>
            </div>
            <div class="leaflet-control-pan-right-wrap">
              <a id="panRight" class="leaflet-control-pan-right" href="#" title="Right"></a>
            </div>
            <div class="leaflet-control-pan-down-wrap">
              <a id="panDown" class="leaflet-control-pan-down" href="#" title="Down"></a>
            </div>

            <div class="leaflet-control-pan-center-wrap">
              <a id="zoomReset" class="leaflet-control-pan-center" href="#" title="Left"></a>
            </div>
          </div>
          <div class="leaflet-control-zoom leaflet-bar leaflet-control">
            <a id="zoomIn" class="leaflet-control-zoom-in" href="#" title="Zoom in">+</a>
            <a id="zoomOut" class="leaflet-control-zoom-out" href="#" title="Zoom out">-</a>
          </div>
        </div>
      </div>